<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bookworms</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <h1>BOOKWORMS LOGO</h1>
    <div class="nav-group">
      <button><a href="{{url_for("home")}}">Home</a></button>
      <button>Inventory</button>
      <button><a href="{{url_for("login")}}">Login</a></button>
    </div> 
    <div class="content">
        CONTENT1
    </div>
</body>

</html>