<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Directory</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <h1>BOOKWORMS LOGO</h1>
    <div class="nav-group">
        {% if current_user.role=="staff" %}
            <a href="{{url_for("home")}}"><button>Home</button></a>
            <a href="{{url_for("users")}}"><button>Users</button></a>
            <a href="{{url_for("staff")}}"><button>Staff</button></a>
            <a href="{{url_for("books")}}"><button>Books</button></a>
            <a href="{{url_for("checkout")}}"><button>Checkout</button></a>
            <a href="{{url_for("equipment")}}"><button>Equipment</button></a>
            <button>Reservations</button>
            <button>Layout</button>
            <a href="{{url_for("fines")}}"><button>Fines</button></a>
            <a href="{{url_for("about")}}"><button>About</button></a>
            <a href="{{url_for("logout")}}"><button>Logout</button></a>
        {% endif %}
        {% if current_user.role=="user" %}
            <a href="{{url_for("home")}}"><button>Home</button></a>
            <a href="{{url_for("books")}}"><button>Books</button></a>
            <a href="{{url_for("checkout")}}"><button>Checkout</button></a>
            <a href="{{url_for("equipment")}}"><button>Equipment</button></a>
            <button>Reservations</button>
            <button>Layout</button>
            <a href="{{url_for("about")}}"><button>About</button></a>
            <a href="{{url_for("logout")}}"><button>Logout</button></a>
        {% endif %}
    </div> 
    <div class="content">
        <div class="content-buttons">
            <button class="table-edit-button">Edit</button>
            <button class="table-add-button">Add</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
                <h1>
                {% if current_user.is_authenticated %}
                    Hi {{ current_user.name }}!
                {% endif %}
                </h1>
                
                {% for item in data %}
                <tr id="{{item['book_id']}}">
                    <td>{{item['book_id']}}</td>
                    <td>{{item['title']}}</td>
                    <td>{{item['author']}}</td>
                    <td>{{item['ISBN']}}</td>
                    <td>{{item['location']}}</td>
                    <td>{{item['status']}}</td>
                    <td>{{item['added']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='scripts/tables.js') }}"></script>
</body>

</html>