<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if current_user.role == 'user' %}
                <title>
                    You shouldn't be here
                </title>
    {% endif %}
    {% if current_user.role == 'staff' %}
        <title>Staff</title>
    {% endif %}
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <h1>BOOKWORMS LOGO</h1>
    <div class="nav-group">
    {% if current_user.role=="staff" %}
            <a href="{{url_for("home")}}"><button>Home</button></a>
            <a href="{{url_for("users")}}"><button>Users</button></a>
            <a href="{{url_for("staff")}}"><button>Staff</button></a>
            <a href="{{url_for("books")}}"><button>Books</button></a>
            <a href="{{url_for("checkout")}}"><button>Checkout</button></a>
            <a href="{{url_for("equipment")}}"><button>Equipment</button></a>
            <a href="{{url_for("reservation")}}"><button>Reservations</button>
            <a href="{{url_for("layout")}}"><button>Layout</button>
            <a href="{{url_for("fines")}}"><button>Fines</button></a>
            <a href="{{url_for("about")}}"><button>About</button></a>
            <a href="{{url_for("logout")}}"><button>Logout</button></a>
        {% endif %}
        {% if current_user.role=="user" %}
            <a href="{{url_for("home")}}"><button>Home</button></a>
            <a href="{{url_for("books")}}"><button>Books</button></a>
            <a href="{{url_for("checkout")}}"><button>Checkout</button></a>
            <a href="{{url_for("equipment")}}"><button>Equipment</button></a>
            <a href="{{url_for("reservation")}}"><button>Reservations</button>
            <a href="{{url_for("layout")}}"><button>Layout</button>
            <a href="{{url_for("about")}}"><button>About</button></a>
            <a href="{{url_for("logout")}}"><button>Logout</button></a>
        {% endif %}
    </div> 
    <div class="content">
        {% if current_user.role == 'user' %}
                <h1>
                    You shouldn't be here
                </h1>
        {% endif %}
        {% if current_user.role == 'staff' %}
        <div class="staff-form">
            <form name='Fine ID' method='post' action="{{ url_for("addfine")}}">
                <label for="user_id"><b>User ID</b></label>
                <input type="text" placeholder="Enter User ID" name="user_id" required>
            
                <label for="checkout_id"><b>Checkout ID</b></label>
                <input type="checkout_id" placeholder="Checkout ID" name="checkout_id" required>

                <label for="amount"><b>Amount</b></label>
                <input type="amount" placeholder="Amount" name="amount" required>
            
                <button type="submit">submit/button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Fine ID</th>
                    <th>User ID</th>
                    <th>Checkout ID</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date Issued</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in data %}
                <tr id="{{item['fine_id']}}">
                    <td>{{item['fine_id']}}</td>
                    <td>{{item['user_id']}}</td>
                    <td>{{item['checkout_id']}}</td>
                    <td>{{item['amount']}}</td>
                    <td>{{item['status']}}</td>
                    <td>{{item['issued']}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts/tables.js') }}"></script>
</body>

</html>