<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bookworms</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <img src="{{ url_for('static',filename='images/logo.png')}}" class='logo'>
    <div class="nav-group">
      <a href="{{url_for("home")}}"><button>Home</button></a>
      <a href="{{url_for("about")}}"><button>About</button></a>
      <a href="{{url_for("login")}}"><button>Login</button></a>
    </div> 
    <div class="content">
        This is the home page of the bookworms! Please head over to the login page to proceed into our system or register a new account, or head to the about page to learn about us.
    </div>
</body>

</html>