<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bookworms</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <img src="{{ url_for('static',filename='images/logo.png')}}" class='logo'>
    <div class="nav-group">
      <a href="{{url_for("home")}}"><button>Home</button></a>
      <a href="{{url_for("about")}}"><button>About</button></a>
      <a href="{{url_for("login")}}"><button>Login</button></a>
    </div> 
    <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form name='login' method='post' action="{{ url_for("auth")}}">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit">Login</button>
        </form>
        <a href="{{url_for("register")}}" name='register'> Register new user? </a>
    </div>
</body>

</html>