<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if current_user.role == 'user' %}
        <title>Go away</title>
    {% endif %}
    {% if current_user.role == 'staff' %}
        <title>Users</title>
    {% endif %}
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <h1>BOOKWORMS LOGO</h1>
    <div class="nav-group">
        <a href="{{url_for("home")}}"><button>Home</button></a>
        <a href="{{url_for("users")}}"><button>Users</button></a>
        <a href="{{url_for("staff")}}"><button>Staff</button></a>
        <a href="{{url_for("books")}}"><button>Books</button></a>
        <a href="{{url_for("equipment")}}"><button>Equipment</button></a>
        <button>Reservations</button>
        <button>Layout</button>
        <button>Fines</button>
        <a href="{{url_for("about")}}"><button>About</button></a>
        <a href="{{url_for("logout")}}"><button>Logout</button></a>
    </div> 
    <div class="content">
        {% if current_user.role == 'user' %}
                <h1>
                    You shouldn't be here
                </h1>
        {% endif %}
        {% if current_user.role == 'staff' %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item['user_id']}}</td>
                    <td>{{item['email']}}</td>
                    <td>{{item['first_name']}}</td>
                    <td>{{item['last_name']}}</td>
                    <td>{{item['role']}}</td>
                    <td>{{item['created_at']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>

</html>