body {
    background-image: linear-gradient(to bottom, #ffffff 0%, #00ff00 100%);
    display: block;
    overflow: auto;
}
a:link {
    text-decoration:none;
    color:white;
}
a:visited {
    text-decoration:none;
    color:white;
    
}
a:unvisited {
    text-decoration:none;
    color:white;
}

a:hover {
    text-decoration:none;
    color:white;
}

.nav-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.nav-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.nav-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.nav-group button:hover {
  background-color: #3e8e41;
}

.nav-group {
    border: 1px solid green;
    background-color:#04AA6D;
}

.content {
    border: 1px solid green;
    background:rgba(0,0,0,0.5);
    display: block;
    overflow: auto;
    color:white;
}

.content button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 2.5px 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.content button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

/* All the Table Styling for PRETTYNESS :) */
.content table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.content table th,
.content table td {
  padding: 12px 15px;
}

.content table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content table tbody tr:nth-of-type(odd) {
  background-color: white;
}

.content table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.logo {
    height:100;
    width:80;
}